@import "~normalize-styl"

@import "variables/breakpoints.styl"
@import "variables/colors.styl"
@import "variables/fonts.styl"
@import "variables/size.styl"

@import "mixins/media.styl"
@import "mixins/without-scroll.styl"
@import "fonts.styl"

body,
html
  margin 0
  padding 0

*
  box-sizing border-box
