standard-animation-time = .5s
long-animation-time = 1s

sidebar-width-transition = width long-animation-time
profile-padding-transition = padding standard-animation-time
avatar-margin-transition = margin standard-animation-time
profile-popup-transition = opacity .6s
dialog-background-transition = background-color .2s ease-in-out
