/* Common */
white = #fff
black = #000
grey = #8b8da9
minsk = #44337b
selago = #ebeafd
titan-white = #fafaff
violet = #180b34
valhalla = #20174c
mojo = #c95540
gallery = #efefef
daisy-bush = #541a8b

error-color = mojo

/* Line */
line = rgba(#8789a0, .2)

/* Sidebar */
sidebar-background = valhalla
sidebar-grey = grey

dialog-background = violet
selected-dialog-background = violet

/* Messenger */
messages-layout-background = selago

message-mine-background = minsk
message-partner-background = white

message-mine-color = white
message-partner-color = black

message-send-form-background = white

/* Auth */
auth-page-color = white
auth-page-input-background = white
auth-page-button-background = gallery
auth-page-link-color = daisy-bush
