/* Common */
white = #fff
black = #000
grey = #8b8da9
minsk = #44337b
selago = #ebeafd
titan-white = #fafaff
violet = #180b34
valhalla = #20174c
mojo = #c95540
gallery = #efefef
daisy-bush = #541a8b
silver = #bbb

error-color = mojo

/* Line */
line = rgba(#8789a0, .2)

/* Sidebar */
sidebar-background = valhalla
sidebar-grey = grey

/* Dialog */
dialog-color = white
dialog-background = violet
selected-dialog-background = violet

dialog-header-partner-color = black

/* Profile */
profile-popup-color = daisy-bush
profile-popup-background-color = white

/* User card */
user-card-color = white
user-card-subtitle-color = grey
user-card-subtitle-extra-color = rgba(grey, .7)

/* Messenger */
messages-layout-background = selago

message-mine-background = minsk
message-partner-background = white

message-mine-color = white
message-partner-color = black

message-send-form-color = grey
message-send-form-background = white

/* Auth */
auth-page-background = rgb(24, 11, 52)
auth-page-gradient = linear-gradient(0deg, rgba(auth-page-background, 1) 0%, rgba(65, 12, 191, 1) 100%)
auth-page-color = white
auth-page-input-background = white
auth-page-button-background = gallery
auth-page-link-color = daisy-bush

/* Profile */
profile-color = violet
profile-background-color = selago
profile-textarea-border = .1rem solid daisy-bush
profile-button-border = .1rem solid grey

/* Add dialog */
add-dialog-background = white
add-dialog-error-color = error-color
add-dialog-input-border-color = valhalla
add-dialog-input-border = .1rem solid add-dialog-input-border-color
add-dialog-button-border-color = silver
add-dialog-button-border = .1rem solid add-dialog-button-border-color
