/* Common */
default-font-size = 1.6rem

medium = 500

/* User card */
user-card-title-size = 2.25rem
user-card-subtitle-size = default-font-size
user-card-extra-size = 1.45rem

/* Messages list */
message-list-font-size = default-font-size

/* Message form */
message-form-font-size = default-font-size

/* Popup */
popup-font-size = default-font-size

/* Auth */
auth-page-font-size = default-font-size

/* Profile */
profile-font-size = 2.4rem
profile-title-font-size = 3.2rem
profile-title-font-weight = medium
profile-textarea-font-size = default-font-size
profile-button-font-size = default-font-size

