default-font-size = 1.6rem

/* User card */
user-card-title-size = 2.25rem
user-card-subtitle-size = default-font-size
user-card-extra-size = 1.45rem

/* Messages list */
message-list-font-size = default-font-size

/* Message form */
message-form-font-size = default-font-size

/* Popup */
popup-font-size = default-font-size

/* Auth */
auth-page-font-size = default-font-size
