avatar-size = 5rem
avatar-margin-right = .8rem

avatar-bigger-size = 10rem

line-margin = 1.92rem

sidebar-bell-size = 2.5rem
sidebar-settings-size = 2.5rem

sidebar-dialog-online-icon-size = 1rem
sidebar-dialog-icon-size = 1.5rem

message-border-radius = 4rem
message-margin = 1.6rem
message-send-icon-size = 3rem
