avatar-size = 50px
avatar-margin-right = .8rem

line-margin = 1.92rem

sidebar-bell-size = 25px
sidebar-settings-size = 25px

sidebar-dialog-online-icon-size = 10px
sidebar-dialog-icon-size = 15px

message-border-radius = 40px
message-margin = 1.6rem
message-send-icon-size = 30px
