line = rgba(#8789a0, .2)

/* Sidebar */
sidebar-background = #20174c
/* TODO: Merge */
sidebar-grey = #8b8da9
grey = #8b8da9

selected-dialog-background = #180b34

/* Messenger */
messages-layout-background = #ebeafd

message-mine-background = #44337b
message-partner-background = #fff

message-mine-color = #fff
message-partner-color = #000
