sidebar-avatar-size = 50px
sidebar-bell-size = 25px
sidebar-settings-size = 25px
sidebar-line-margin = 1.2rem

sidebar-dialog-online-icon-size = 10px
sidebar-dialog-icon-size = 15px

sidebar-avatar-margin-right = 1.4rem
sidebar-dialog-avatar-margin-right = 1rem
